.atm-body {
  min-height: 100vh;
  background-image: url(assets/brick-background.jpg);
}
h2 {
  font-size: 25px !important;
}
.success {
  color: green;
}
.error {
  color: red;
}
.info {
  color: purple;
}
.atm-color {
  background-color: #888888;
}
.atm-secondary-color {
  background-color: rgb(180, 180, 180);
}
