.atm-body {
  min-height: 100vh;
  background-image: url(assets/brick-background.jpg);
}
h2 {
  font-size: 30px !important;
}
.success {
  color: green;
}
.error {
  color: red;
}
.info {
  color: purple;
}
