.atm-screen {
  min-height: 300px;
  max-height: 300px;
  overflow-y: scroll;
  background-color: lightblue;
  border: 1px solid #888888;
}
.atm-header {
  background-color: rgb(180, 180, 180);
}
.atm-base {
  padding-bottom: 20%;
}
