<div class="container atm fixed-bottom">
  <div class="row atm-header mt-4">
    <div class="col-12 d-flex justify-content-center">
      <img src="assets/atm-text.png">
    </div>
  </div>
  <div class="row atm-face">
    <div class="row atm-screen col-12 col-lg-8 offset-lg-2">
      <div class="w-100">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="col-lg-2 col-12 my-auto">
      <app-navigation></app-navigation>
    </div>
  </div>
  <div class="row atm-base">
    <div class="offset-4 col-4">
      <app-keypad></app-keypad>
    </div>
  </div>
</div>
